.header
{
    width: 1140px;
    display: flex;
    margin: auto;
}
.block-1
{
    background-color: tomato;
    width: 50%;
    height: 200px;
}
.block-2{
    background-color: blue;
    width: 50%;
    height: 200px;
}
.section-1
{
    width: 1140px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-top: 20px;
}
.section-1 div
{
    width: 15%;
    height: 160px;
    background-color: aqua;
}